body {
    max-width: 1140px;
    margin: auto;
    font-family: 'Work Sans';
    font-size: 14px;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
    max-width: 1140px;
    align-items: center;
}

footer {
    max-width: 1140px;
    margin: auto;
    align-items: center;
}

section {
    margin: 50px 0
}

h1 {
    display: flex;
    flex-direction: column;
    font-family: 'Syne';
    font-size: 22px;
    font-weight: 800;
    color: #B1663C
}

h1 > span {
    font-family: 'Work Sans';
    font-size: 10px;
    letter-spacing: 0.1em;;
}

h2 {
    font-family: 'Syne';
    font-weight: 700;
    font-size: 30px;
    color: #1D6154
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
}

nav li {
    padding: 0 10px;
    font-size: 1.2em;
}

li:hover {
    color: #B1663C;
}

#introduction {
    display: flex;
    align-items: center;
}

#introduction figure {
    flex: 1
}

#introduction img {
    display: block;
    margin: auto;
    width: 80%;
}

#introduction article {
    flex: 1
}

#introduction h2 {
    margin-bottom: 1em;
}

#introduction p {
    margin-bottom: 0.5em;
}

#portfolio h2 {
    text-align: center;
    margin-top: 118px;
}

.gallery {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.gallery img {
    width: 100%;
}

#contact {
    width: 379px;
    margin: auto;
}

#contact > * {
    text-align: center;
}

#contact h2 {
    margin-top: 100px;
    margin-bottom: 20px;
}

#contact form {
    text-align: left;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

#contact input {
    height: 50px;
    font-size: 1.2em;
    border: none;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
    margin: 2em 0 1em 0;
}

#contact textarea {
    border: none;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.09);
}

footer nav ul {
    display: flex;
    justify-content: flex-end;
    margin: 2em
}

/*******************************
 Style du filtre des catégories
******************************/
.filter {
    display: flex;
    justify-content: center;
    padding: 51px 0;
}

button {
    font-family: 'Syne';
    padding: 9px 28px;
    margin: 5px;
    border-radius: 60px;
    color: #1D6154;
    background-color: white;
    border: solid 1px;
}

.selected {
    background-color: #1D6154;
    color: white;
}

/*************************
style de la page de login
**************************/
a {
    color: black;
}

.bodyContainer {
    background-color: #FFFEF8;
    max-width: 1140px;
    padding: 1px 150px;
}

.footerContainer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    padding-bottom: 160px;
}

#message {
    color: red;
}

.instaIcon {
    width: 19px;
}

.submitButton {
    width: 179px;
    margin: 37px 0 28px 0;
    border-radius: 60px;
    background: #1D6154;
    color: white;
}

.submitButton {
    align-self: center;
}

/*************
works - edit
**************/

/*****banner*****/
.banner {
    display: flex;
    justify-content: center;
    background-color: #131313;
    height: 59px;
    margin: auto;
    align-items: center;
    padding: 1px 150px;
    color: white;
}

.bannerHidden {
    display: none;
}

.fa-regular {
    margin: 5px 10px 5px 31px;
}

/*******************************************
lien d'ouverture de la modal galerie photo
********************************************/
.modalLink {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 138px;
}

#edit {
    display: flex;
    margin: 5px 0;
}

.h2 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

/********************
style de la modale1
*********************/
.modal {
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #0000004D;
    position: fixed;
}

.modalContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 630px;
    height: 688px;
    border: 1px solid #888;
    border-radius: 10px;
    background-color: #FFFFFF;
    position: relative;
}

.modalHeader {
    font-size: 26px;
}

.close {
    font-size: 30px;
    padding: 30px;
    right: 0;
    cursor: pointer;
    position: absolute;
}

.modalTitle {
    font-size: 24px;
    font-weight: 400;
    color: #000000;
    padding: 60px 0 36px 0;
}

.modalFooter {
    display: flex;
    justify-content: center;
    width: 420px;
    border-top: 1px solid #B3B3B3;
    bottom: 0;
    position: absolute;
}

.modalButton {
    width: 237px;
    height: 36px;
    margin: 38px;
    border-radius: 60px;
    background-color: #1D6154;
    color: white;
}

.modalBody {
    overflow: auto;
    width: 420px;
    padding: 0 10px 20px 10px;
}

.modalBodyGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 29px 9px;
}

.modalBody figure {
    position: relative;
}

.modalBody img {
    width: 100%;
}

.trash-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    background-color: rgb(19, 19, 19);
    cursor: pointer;
    color: white;
    border-radius: 2px;
    margin: 6px 5px;
    font-size: 8px;
}

/********************
style de la modale2
*********************/
.modalBodyAddPicture {
    display: flex;
    flex-direction: column;
}

.addPicture {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 3px;
    background: #E8F1F6;
    padding: 0 13px;
    margin-bottom: 23px;
}

.imageLabel {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 3px;
}

.imageLabel img {
    width: 76px;
}

.addPictureButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 173px;
    height: 36px;
    border-radius: 50px;
    background: #CBD6DC;
    color: #306685;
    font-size: 14px;
    border: none;
}

#imagePreview {
    width: 126px;
}

#modalAdd input {
    height: 51px;
    background: #FFFFFF;
    box-shadow: 0 4px 14px 0 #00000017;
    border: none;
}

#modalAdd label {
    font-size: 14px;
    margin: 21px 0 10px 0;
}

#category {
    height: 51px;
    background: #FFFFFF;
    box-shadow: 0 4px 14px 0 #00000017;
    border: none;
    color: #6C6C6C;
}

.arrowBack {
    display: flex;
}

.fa-arrow-left {
    font-size: 20px;
    padding: 30px;
    left: 0;
    cursor: pointer;
    position: absolute
}

.formatAndSize {
    color: #444444;
    font-size: 10px;
}

/*********************************
 style des les messages d'alerte
 ********************************/
#messageModal {
    display: flex;
    justify-content: center;
    position: fixed;
    align-items: center;
    top: 50px;
    transform: translate(90%);
    color: black;
    background-color: rgb(220, 239, 234);
    width: 400px;
    height: 50px;
    border-radius: 10px;
    border-left: 10px solid #1D6154;
    font-size: 14px;
}